{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App Name" %}{% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}

<div  class="row justify-content-center">				
	<div class="col-md-4" align="center">				
		<div id="carousel-major" class="carousel slide carousel-fade"  data-bs-ride="carousel">
			<!-- Indicators/dots -->
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="6"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="7"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="8"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="9"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="10"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="11"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="12"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="13"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="14"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="15"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="16"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="17"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="18"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="19"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="20"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="21"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="22"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="23"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="24"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="25"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="26"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="27"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="28"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="29"></button>					
			</div>
			<!-- The slideshow/carousel -->
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="{% static 'images/catalog01.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog02.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog03.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog04.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog05.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog06.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog07.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog08.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog09.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog10.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog11.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog12.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog13.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog14.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog15.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog16.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog17.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog18.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog19.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog20.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog21.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog22.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog23.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog24.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog25.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog26.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog27.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog28.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog29.jpg' %}" alt="" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/catalog30.jpg' %}" alt="" class="d-block w-100">
				</div>
			</div>
			<!-- Left and right controls/icons -->
			<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
				<span class="carousel-control-next-icon"></span>
			</button>
		</div>				
	</div>
	<div class="col-md-8">
		<h2 class="text-center"><a class="nav-link" href="#home">{% trans "Welcome" %}!</a></h2>	
		<h2 align="center">Магазин-салон «OLIVER»</h2>
		<p align="center">Одежда для дома и отдыха, обувь, постельные принадлежности!</p>
		<address>
			<p>🏙️Усть-Каменогорск<br>
			🏫Ауэзова 4: <a href="tel:87056677575">87056677575</a><br>
			🏫Виноградова 17: <a href="tel:87772457221">87772457221</a></p>			
		</address>				
	</div>	
</div>	
		
<!-- Каталог -->
<hr>
<div class="div-width-100-text-center">
	<h3>{% trans "Full Catalog" %}</h3>
</div>
<section id="catalog">
	<div class="row">
		{% if catalog.count > 0 %}
			{% for c in catalog %}
			<div class="col-lg-3">
				{% if c.photo.url != None %}					
					<img style="height:200px; max-width:200px;;" src="{{ c.photo.url}}" alt="{{ c.title }}" >
				{% endif %}
				<h4><a href="{% url 'catalog_details' c.id %}">{{ c.catalog_title }}</a></h4>
				<h5>{{ c.price }}  〒</h5>					
				{% if c.avg_rating != None %}
				<p><div class="Stars" style='--rating: {{ c.avg_rating| stringformat:".1f" }};'></div></p>							
				<!-- <h6>{% trans "Avg Rating" %}: {{ c.avg_rating | floatformat:1 }}</h6>								 -->
				{% endif %}
			</div>
			{% endfor %}
		{% endif %}						
	</div>
	<h3 style="text-align: center;" ><a href="{% url 'catalog_list' %}">{% trans "Full Catalog" %}</a></h3>
</section>
	
<!-- Отзывы -->
<!-- <hr>	 -->
<!-- <div class="div-width-100-text-center"> -->
	<!-- <h3>{% trans "reviews" %}</h3> -->
<!-- </div> -->
<!-- <section id="review"> -->
	<!-- <div class="row"> -->
		<!-- {% if review.count > 0 %} -->
			<!-- {% for r in review %} -->
				<!-- <div class="col-lg-3"> -->
					<!-- <h6> {{ r.username }}</h6> -->
					<!-- <h5><a href="{% url 'catalog_details' r.catalog_id %}">{{ r.title }}</a></h5> -->
					<!-- <!-- <h6>{% trans "rating" %} {{ r.rating }}</h6> --> -->
					<!-- <p><div class="Stars" style='--rating: {{ r.rating| stringformat:".1f" }};'></div></p>													 -->
					<!-- <blockquote>{{ r.details | slice:"0:100" }}...</blockquote>									 -->
				<!-- </div> -->
			<!-- {% endfor %} -->
		<!-- {% endif %}						 -->
	<!-- </div> -->
<!-- </section> -->

<div class="jumbotron">
	<div class="div-width-100-text-center">
		<h3>{% trans "newss" %}</h3>
	</div>
	<hr class="my-4">
	<div class="row">
		{% if news1.count > 0 %}
		<div class="col-lg-8 border">
			{% for c in news1 %}
				<center><p><strong>{{ c.daten | date:"d.m.Y H:i" }}</strong></p></center>
				{% if c.photo.url != None %}
					<img class="img-center" src="{{ c.photo.url}}" alt="{{ c.title }}" title="{{ c.details }}">
				{% endif %}
				<h4><a href="{% url 'news_read' c.id %}">{{ c.title }}</a></h4>
				<p>{{ c.details | linebreaks}}</p>
			{% endfor %}
		</div>
		<div class="col-lg-4 border">
			{% if news24.count > 0 %}
				{% for c in news24 %}
				<center><p><strong>{{ c.daten | date:"d.m.Y H:i" }}</strong></p></center>
				<div class="row">
					{% if c.photo.url != None %}
						<img class="img-center3" src="{{ c.photo.url}}" alt="{{ c.title }}" title="{{ c.details }}">
					{% endif %}
				</div>
				<div class="row">
					<h5><a href="{% url 'news_read' c.id %}">{{ c.title }}</a></h5>
				</div>
				<hr class="my-4">
				{% endfor %}
			{% endif %}
		</div>
		{% endif %}
	</div>
	<h3 style="text-align: center;" ><a href="{% url 'news_list' %}">{% trans "all newss" %}</a></h3>
</div>

{% endblock content %}

